/*
Colour Palette:

#FFFFFF - White
#000000 - Black
#675F62 - Dark Grey
#E6D3DA - Lighter Grey
#C4B4BA - Light Grey
#A29599 - Grey

*/

.sb-container {
    border: 1px solid #000000;
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
}

